@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');
@font-face {
  font-family: titulo;
  src: url("../font/Elemental End italic.ttf");
  font-style: normal;
}
@font-face {
  font-family: titulos;
  src: url("../font/Elemental End.ttf");
  font-style: normal;
}

html {
  max-width: 100vw;
  font-size: 10px;

}
html * {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
}
section {
  width: 100%;
  padding: 100px;
}

nav {
  width: 100%;
  background-color: rgba(0, 0, 20, 0.5);
  position: fixed;
  display: flex;
  justify-content: space-between;
}
#seccion-menu {
  display: none;
  background: linear-gradient(to right bottom, #4401BC, #000000);
}

#seccion-menu a {
  color: white;
}
.popupmobile {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  opacity: 0;
  pointer-events: none;

}

.m-m {
  width: auto;
  height: auto;
  padding: 30px 80px 80px 80px;
}

#seccion-5 {
  background: linear-gradient(to right bottom, #4401BC, #000000);
}

#seccion-5 h1 {
  font-family: titulos;
  font-size: 2rem;
  color: white;
  margin-top: 0;

}
#seccion-5 p {
  font-family: titulos;
  font-size: 2rem;
  font-weight: normal;
  color: white;
  text-align: right;
  margin: 0 0 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  text-align: left;
  align-items: center;
}
form input {
  width: 450px;
  font-family: 'Oxanium', cursive;
  padding: 10px 0 10px 10px;
  border-radius: 20px;

}

form label {
  margin: 0 0 20px 0;
}

.boton-enviar{
background: linear-gradient(214deg, transparent 5%, #2FACD3 5%);
align-items: center;

}
button,
button::after {
  padding: 16px 20px;
  font-family: 'Oxanium', cursive;
  font-weight: 500;
  font-size: 18px;
  border: 0;
  color: black;
  line-height: 1;
  box-shadow: 6px 8px 0px #32008B;
  outline: transparent;
  border-radius: 0;
  position: relative;
  top: 20px;
  left: 0;

}

button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "Enviar";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #9A4CFD 3%, #47E9FF 5%, #F047FF 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}


button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}

#feedback {
  background: linear-gradient(to right bottom, #4401BC, #000000);
  text-align: center;
  justify-content: center;
  padding: 100px 80px 100px 80px;
}
#feedback h1 {
  font-family: titulos;
  font-size: 3rem;
  color: white;

}
#feedback h3 {
  font-family: 'Oxanium', cursive;
  font-size: 2rem;
  font-weight: normal;
  color: white;

}


.fondo-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;

}


.popup {
  width: 600px;
  height: 400px;
  border-radius: 50px;
  padding: 30px 80px 80px 80px;
}

.no-mostrar {
display: none !important;
}


.mostrar {
display: flex;
pointer-events: auto;
opacity: 1;
}

.header ul {
  display: inline-flex;
  color: white;
  font-family: 'Oxanium', cursive;
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 40px;
  padding-left: 0;
}

.header li {
  margin: 10px;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  color: #2FACD3;
}

.logo {
display: flex;
align-items: flex-start;
}

.logo img {
  width: 100%;
  margin-top: 10px;
  margin-left: 40px;
}

.menu-mobile {
  display: none;
  visibility: hidden;
}


#seccion-1 {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-image: url("../img/fondo.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
#seccion-1 h4 {
  color: white;
  font-size: 1.4rem;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 0;
  margin-left: 20px;
  font-family: 'Oxanium', cursive;
  font-weight: 300;

}
#seccion-1 h1 {
  font-size: 4.8vw;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 2px;
  font-family:titulo;
}


#seccion-1 p {
  text-align: left;
  margin-left: 20px;
  font-family: 'Oxanium', cursive;

}

#txt-intro {
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 50px;
}

#info {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}


.neon {
  color: #04012C;
  text-shadow:  0 0 3px #00E1B9,
                0 0 3px #C882FF,
                0 0 3px #6100FF,
                0 0 3px #EE3EFD,
                0 0 3px #EE3EFD;
}

.introduccion {
  width: 100%;
 padding: 0px;
 margin-left: 70px;
 margin-top: 50px;
}


.contenedor-img {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0;
}
.contenedor-img img {
  width: 100%;
  max-width: 589px;
  height: auto;
}

#cta1 {
  top: 20px;
  left: 0;
  margin-left: 110px;

}

button,
button::after {
 padding: 16px 20px;
 font-family: 'Oxanium', cursive;
 font-weight: 500;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #2FACD3 5%);
 border: 0;
 color: black;
 line-height: 1;
 box-shadow: 6px 8px 0px #32008B;
 outline: transparent;
 position: relative;
 top: 20px;
 left: 0;
 /*cursor: pointer*/

}

button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "¡RECLAMA TU VOUCHER!";
 display: block;
 position: absolute;
 color: white;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #9A4CFD 3%, #47E9FF 5%, #F047FF 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}

#next {
  color: #06A8FF;
  font-size: 1.5rem;
  text-decoration: none;
}
.continuar p {
  position: absolute;
  top: 93%;
  left: 45%;
}
.arrow{
    position: absolute;
    top: 95%;
    left: 45%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #06A8FF;
    border-right: 2px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

#seccion-2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background-image: url("../img/fondo1.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
}

#seccion-2 h1 {
  color: white;
  font-size: 3.5rem;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family:titulos;
}

#seccion-2 p {

  color: white;
  font-size: 1.8rem;
  font-family: 'Oxanium', cursive;
  }



.titulo-mobile {
  visibility: hidden;
  display: none;
  overflow: hidden;
}
  .parrafo-1 {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
    width: 100%;
    overflow: hidden;


  }
 .parrafo-1 p {
   margin-bottom: 30px;
 }

  .contenedor-2 {
    padding: 0;

  }

  .contenedor-2 img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 20px;
  }

  .contenedor-img-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: auto;
    margin-right: 100px;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 80px;
    overflow: hidden;

  }
  .contenedor-img-2 img {
    width: 100%;
    max-width: 420px;
    height: auto;
    margin-left: 0px;
    border-radius: 20px;
  }

  .parrafo-2 {
    margin-right: 0;
    margin-top: 50px;
    padding: 0;
    overflow: hidden;
  }

  .parrafo-2 p {
    padding-left: 0;
  }

#seccion-3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/fondo2.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
}

#seccion-3 h1 {
  color: white;
  font-size: 3vw;
  text-align: center;
  margin-bottom: 10px;
  font-family:titulos;
}

#seccion-3 p {
  margin-bottom: 0;
}


.titulo-mobile-2 {
  visibility: hidden;
  display: none;
  overflow: hidden;
}

.items-1 {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Oxanium', cursive;
  font-size: 2rem;
  margin-right: 20px;

}
.item-1 {
  color: white;
  font-family: 'Oxanium', cursive;
  margin-left: 70px;
  overflow: hidden;
}


.item-2 {
  color: white;
  font-family: 'Oxanium', cursive;
  margin-left: 70px;
  overflow: hidden;
}

.item-3 {
  color: white;
  font-family: 'Oxanium', cursive;
  margin-left: 70px;
  overflow: hidden;
}

.items-2 {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Oxanium', cursive;
  font-size: 2rem;
  margin-left: 20px;
  overflow: hidden;

}

.item-4 {
  margin-right: 70px;
  overflow: hidden;
}

.item-5 {
  margin-right: 70px;
  overflow: hidden;
}

.item-6 {
  margin-right: 70px;
  overflow: hidden;
}

.contenedor-img-3 {
width: 100%;
margin-right: 10px;
margin-top: 0;
}

.contenedor-img-3 img {
  width: 100%;
  height: auto;
}

#seccion-4 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/fondo4.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
}

#seccion-4 h1 {
  color: white;
  font-size: 4rem;
  text-align: center;
  margin-left: 70px;
  margin-bottom: 5px;
  margin-top: 2px;
  font-family:titulos;
  overflow: hidden;
}

.neon{
  color: #04012C;
  text-shadow: 0 0 3px #24D8FF,
              0 0 4px #C882FF,
              0 0 5px #6100FF,
              0 0 5px #EE3EFD,
              0 0 5px #EE3EFD;
}


button,
button::after {
 padding: 16px 20px;
 font-family: 'Oxanium', cursive;
 font-weight: 500;
 font-weight: bold;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #2FACD3 5%);
 border: 0;
 color: black;
 line-height: 1;
 box-shadow: 6px 7px 0px #32008B;
 outline: transparent;
 position: relative;
 top: 20px;
 left: 0;
 cursor: pointer

}

button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "¡RECLAMA TU VOUCHER!";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #9A4CFD 3%, #47E9FF 5%, #F047FF 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}



@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}

footer {
  background-color: #060012;
  font-family: 'Oxanium', cursive;
  font-size: 1.8rem;


}




.logo-pie {
  display: flex;
  justify-content: flex-start;
  width: 20%;
  padding-top: 40px;
  margin-left: 100px;
}

.logo-pie img {
  height: 50px;
}

.pie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 100px;

}
.pie ul, li {
  color: white;
  padding: 0;
}
.items-footer {
display: flex;
flex-direction: row;
}
.contacto {
  float: right;
  margin: 0;
  margin-right: 50px;
  padding-top: 40px;
}

.contacto ul {
  margin: 0;
}

.contacto a {
  color: white;
  text-decoration: none;
}
.contacto a:hover{
  color: #2FACD3;
}

.redes {
  float: right;
  padding-top: 40px;
    padding-bottom: 40px;
}

.redes ul , li{
  display: flex;
  flex-direction: column;
  margin: 0;

}

.redes a{
  width: 20%;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.redes a:hover{
  color: #2FACD3;
}


@media (max-width: 415px) {
 nav {
    justify-content:  space-between;
  }
.header ul, li {
  visibility: hidden;
  display: none;
}

.logo img {
  width: 100%;
  margin-left: 20px;
  margin-top: 10px;
}
.menu-mobile{
visibility: visible;
display: flex;
flex-direction: column-reverse;
justify-content: flex-end;
width: 10%;
margin-right: 20px;
}
.menu-mobile img {
  width: 100%;
  margin-top: 15px;

}
#seccion-menu {
  display: flex;
  padding: 0 80px 0 0;

}
#seccion-menu ul, li {
  visibility: visible !important;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
#seccion-menu ul {
  padding-top: 60px;
  padding-left: 10px;
}
#seccion-menu a {
  color: white;
  font-family: 'Oxanium', cursive;
  font-size: 2rem;
  text-decoration: none;
  margin-bottom: 40px;
}

  #seccion-1{
    height: 130vh;
    background-image: url("../img/fondomobile2 1.png");
    background-color: black;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    padding: 0;


  }

  #seccion-1 h1{
    font-size: 3.8rem;
    margin: 0 25px 30px 25px;

  }
  #seccion-1 h4{
    margin: 25px 25px 10px 25px;

  }

  #seccion-1 p {
    margin: 25px 25px 40px 25px;
  /*  margin: 40px 0 40px 0;*/
  }
  .introduccion {
    width: 100%;
    height: 55%;
    margin: 0;
  }

  .espacio {
    display: none;
  }

  .contenedor-img {
    display: flex;
    flex-direction: column;
    width: 110%
    margin: 0 20px 0 20px;
  }

  .contenedor-img img {
    width: 100%;
    padding: 0 10px 0 10px;
  }

  #cta1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer
}

.continuar {
  visibility: hidden;
  display: none;
}


  #seccion-2 {
    height: 200vh;
    display: flex;
    flex-direction: column;
    background-image: url("../img/fondomobile3 1.png");
    background-color: black;
    background-size: 100%;
    background-position: right;
    background-size: cover;
    justify-content: center;
    overflow: hidden;
  }

  #seccion-2 h1 {
    text-align: left;
    font-size: 3.2rem;
    margin: 20px 25px 20px 25px;
    padding: 0;
    }



    #seccion-2 p {
      margin: 25px 25px 40px 25px;
      padding: 0;


      }
      .titulo-web {
        visibility: hidden ;
        display: none;
      }
      .titulo-mobile {
        visibility: visible;
        display: flex;
        width: 100%;
        flex-direction: column;
        color: white;
        font-size: 4rem;
        overflow: hidden;
      }


      .parrafo-1 {
        width: 100%;
        text-align: left;
        margin: 0;
        overflow: hidden;
        /*margin-left: 10px;
        margin-right: 10px;*/

      }
      .contenedor-2 {
        width: 100%;
        text-align: center !important;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      .contenedor-2 img{
        width: 100%;
        max-width: 320px;
        height: auto;
        overflow: hidden;
        /*margin-left: 20px;
        margin-right: 20px;*/

      }
      .parrafo-2 {
        width: 100%;
        text-align: left;
        padding: 0;
        margin-top: 25px;
        margin-left: 0;
        margin-right: 0;
        overflow: hidden !important;


      }
      .contenedor-img-2 {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;
        overflow: hidden !important;


      }

      .contenedor-img-2 img {
        width: 100%;
        max-width: 320px;
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
        overflow: hidden;
      }

      #seccion-3 {
        height: 180vh;
        display: flex;
        flex-direction: column;
        background-image: url("../img/fondomobile4 1.png");
        background-color: black;
        background-size: 100%;
        background-position: left;
        background-size: cover;
        justify-content: center;
        text-align: left;
      }

      #seccion-3 h1 {
        text-align: left;
        font-size: 3.5rem;
        margin: 20px 20px 20px 20px;
      }



      .titulo-mobile-2 {
        visibility: visible;
        display: flex;
        flex-direction: column;
        width: 100%;
        color: white;
      }
      .titulo-web-2 {
        visibility: hidden;
        display: none;
      }

      .items-1 {
        margin-left: 20px;
        overflow: hidden;
      }

      .items-2 {
        margin-left: 20px;
        overflow: hidden;
      }

      .item-1 {
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
      }

      .item-2 {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
      }

      .item-3 {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
      }

      .item-4 {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
      }

      .item-5 {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
      }

      .item-6 {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
      }

      .contenedor-img-3 {
        width: 80%;
        text-align: center !important;
        margin-top: 0;
      }

      .contenedor-img-3 img {
        width: auto;
        height: 250px;
      }

      #seccion-4 {
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-image: url("../img/fondomobile5 1.png");
        background-color: black;
        background-size: 100%;
        background-position: right;
        background-size: cover;
        justify-content: center;
        text-align: left;
        overflow: hidden;
      }

      #seccion-4 h1 {
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        text-align:left;
        font-size: 2.5rem;
        overflow: hidden;
      }
      .cta2 {
        overflow: hidden;
      }
       button,
       button::after {
       padding: 16px 20px;
       font-family: 'Oxanium', cursive;
       font-size: 18px;
       background: linear-gradient(45deg, transparent 5%, #2FACD3 5%);
       border: 0;
       color: black;
       line-height: 1;
       box-shadow: 6px 8px 0px #32008B;
       outline: transparent;
       position: relative;
       top: 60px;
       left: 0;
       cursor: pointer


      }

      button::after {
       --slice-0: inset(50% 50% 50% 50%);
       --slice-1: inset(80% -6px 0 0);
       --slice-2: inset(50% -6px 30% 0);
       --slice-3: inset(10% -6px 85% 0);
       --slice-4: inset(40% -6px 43% 0);
       --slice-5: inset(80% -6px 5% 0);
       content: "¡RECLAMA TU VOUCHER!";
       display: block;
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background: linear-gradient(45deg, transparent 3%, #9A4CFD 3%, #47E9FF 5%, #F047FF 5%);
       text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
       clip-path: var(--slice-0);
      }

      button:hover::after {
       animation: 1s glitch;
       animation-timing-function: steps(2, end);
      }

      footer {
        height: 50vh;
        text-align: left;
        padding: 0;

      }

      .pie {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 25%;

      }

      .items-footer {
        display: flex;
        flex-direction: column;
      }
      .contacto {
        margin-right: 0;
        padding-top: 0;
      }

      .contacto h4 {
        margin-top: 40px;
      }

      .redes {
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
      .redes h4 {
        margin-top: 40px;
      }
      .redes a {
        margin-bottom: 20px;
      }
      .logo-pie{
        display: flex;
        justify-content: flex-start;
        width: 30%;
        margin: 30px 0 0 0;
        padding: 0 10px 0 10px;
      }
      #seccion-5 p {
        margin-bottom: 10px;
      }
      form input {
        width: 300px;
        font-family: 'Oxanium', cursive;
        padding: 10px 0 10px 10px;
        border: none;
        border-radius: 20px;
      }
      #fname {
        font-size: 1.5rem;
      }

      #mail {
        font-size: 1.5rem;
      }

      .popup {
        width: 350px;
        height: 400px;
        border-radius: 30px;
        padding: 10px 30px 40px 30px;
      }

      .boton-enviar {
        top: 30px;
      }

      #feedback {
        background-color: #4401BC;
        text-align: center;
        justify-content: center;
        padding: 90px 40px 80px 40px;
      }
      #feedback h1 {
        font-family: titulos;
        font-size: 2.2rem;
        color: white;

      }
      #feedback h3 {
        font-family: 'Oxanium', cursive;
        font-size: 2rem;
        font-weight: normal;
        color: white;

      }
      .cerrar {
        top: 20px;
      }

}
